#mainContainer
{
	background:url(../assets/images/theme1/bg.jpg) repeat top left;
	min-height:650px;
}

#appContainer{
	opacity:1;
	margin-left:0;
}


.headerDiv
{
	color: white;
	width: 100%;
	height:60px;
	text-align: center;
	position: relative;
}
.topNavigation
{
	float: left;
}
.menuToggle
{
	background-image: url(../assets/images/theme1/btn_bg1.png);
	background-repeat: no-repeat;
	width: 486px;
	height: 62px;
	color: black;
	float: left;	
}
.menuIcon{
	width:65px;
	float: left;
	margin:0;
	padding:15px 0 0 0;
}
.menuIcon.closed{
	float: left;
	margin:0;
}
.mask-div{
	width: 421px;
	height: 62px;
	margin-left:65px;
	overflow:hidden;
}
.appNavigation
{
	background-image: url(../assets/images/theme1/btn_bg2.png);
	background-repeat: no-repeat;
	width: 298px;
	height: 60px;
	margin-left: 0px;
	float: left;
	overflow: hidden;
}
.appNavigation .nav
{
	width:59.5px;
	height:62px;
	float:left;
}
.appNavigation .active 
{
	/*width:57px;
	height:57px;*/
	background-color:#FFF;
}
.appNavigation .disable 
{
	opacity:0.5;
}
.appNavigation .nav img
{
	padding-top:15px;
}

.headerViewNav
{
	background-image: url(../assets/images/theme1/btn_bg3.png);
	background-repeat: no-repeat;
	width: 126px;
	height: 63px;
	padding-left:6px;
	float: left;
}
.headerViewNav .nav
{
	width:60px;
	height:62px;
	float:left;
}
.headerViewNav .active 
{
	width:55px;
	height:58px;
	background-color:#FFF;
}
.headerViewNav .disable 
{
	opacity:0.5;
}
.headerViewNav .nav img
{
	padding-top:20px;
}
.headerLeftNav
{
	background-image: url(../assets/images/theme1/btn_bg4.png);
	background-repeat: no-repeat;
	width: 186px;
	height: 61px;
	margin-left: 80px;
	padding-left:2px;
	float: left;
}
.headerLeftNav .nav
{
	width:60px;
	height:62px;
	float:left;
}
.headerLeftNav .active 
{
	width:55px;
	height:58px;
	background-color:#FFF;
}
.headerLeftNav .disable 
{
	opacity:0.5;
}
.headerLeftNav .nav img
{
	padding-top:15px;
}
.bookNavigation
{
	display:inline-block;
	margin-top:1px;
}

.bookNavigation .studyActive
{
	width:67px;
	height:52px;
	background-image:url(../assets/images/theme1/study_clicked.png);
}
.bookNavigation .studyNormal
{
	width:67px;
	height:41px;
	background-image:url(../assets/images/theme1/study.png);
}
.bookNavigation .gameActive
{
	width:67px;
	height:52px;
	background-image:url(../assets/images/theme1/game_clicked.png);
}
.bookNavigation .gameNormal
{
	width:67px;
	height:41px;
	background-image:url(../assets/images/theme1/game.png);
}
.bookNavigation .quizActive
{
	width:67px;
	height:52px;
	background-image:url(../assets/images/theme1/quiz_clicked.png);
}
.bookNavigation .quizNormal
{
	width:67px;
	height:41px;
	background-image:url(../assets/images/theme1/quiz.png);
}
.bookNavigation div
{
	float:left;
	margin-left:5px;
}
.contentNavigation
{
	height:45px;
	background-color:white;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	text-align:left;
}
.headeWhiteBg
{
	background-color:white;
	-moz-box-shadow: 5px 5px 2px #888;
	-webkit-box-shadow: 5px 5px 2px #888;
	box-shadow: 5px 5px 2px #888;
	text-align:left;
}
.contentDiv
{
	/*height: 100%;*/
    padding-bottom: 40px;
    padding-top: 30px;
}
.footerDiv
{
	color: white;
	width: 100%;
	height: 20px;
    position: fixed;
    bottom: 0px;
}
