#mainContainer
{
	background:url(../assets/images/theme1/bg.jpg) repeat top left;
}

.headerDiv
{
	color: white;
	width: 100%;
	height:60px;
}
.topNavigation
{
	float: right;
}
.contentDiv
{
	height: 100%;
    padding-bottom: 60px;
}
.footerDiv
{
	color: white;
	width: 100%;
	height: 20px;
    position: fixed;
    bottom: 0px;
}
