#mainContainer
{
	background:url(../assets/images/theme1/bg.jpg) repeat top left;
}

.headerDiv
{
	color: white;
	width: 100%;
	height:60px;
	text-align: center;
}
.topNavigation
{
	float: left;
}
.menuToggle
{
	background-image: url(../assets/images/theme1/btn_bg1.png);
	background-repeat: no-repeat;
	width: 486px;
	height: 60px;
	color: black;
	padding-top: 20px;
	float: left;
}
.menuIcon{
	float: left;
	margin:0 0 0 40px;
	border:2px solid red;
}
.menuIcon.closed{
	float: left;
	margin:0 0 0 40px;
	border:2px solid green;
}
.appNavigation
{
	background-image: url(../assets/images/theme1/btn_bg2.png);
	background-repeat: no-repeat;
	width: 312px;
	height: 60px;
	margin-left: 20px;
	margin-top: -20px;
	float: left;
}
.appNavigation div
{
	float:left;
	padding-left: 26px;
	padding-top: 15px;
	padding-right: 9px;
}
.headerViewNav div
{
	float:left;
	padding-left: 26px;
	padding-top: 20px;
	padding-right: 16px;
}
.headerViewNav
{
	background-image: url(../assets/images/theme1/btn_bg3.png);
	background-repeat: no-repeat;
	width: 126px;
	height: 63px;
	margin-left: 40px;
	float: left;
}
.headerLeftNav
{
	background-image: url(../assets/images/theme1/btn_bg4.png);
	background-repeat: no-repeat;
	width: 186px;
	height: 61px;
	margin-left: 40px;
	float: left;
}
.headerLeftNav div
{
	float:left;
	padding-left: 20px;
	padding-top: 16px;
	padding-right: 12px;
}

.contentDiv
{
	height: 100%;
    padding-bottom: 60px;
    padding-top: 50px;
}
.footerDiv
{
	color: white;
	width: 100%;
	height: 20px;
    position: fixed;
    bottom: 0px;
}
